In [1]:
import pandas as pd
import scanpy as sc

from scipy.stats import rankdata

In [4]:
data_with_myc = [
    "FrangiehIzar2021_RNA.h5ad",
    "ReplogleWeissman2022_K562_essential.h5ad",
    "ReplogleWeissman2022_rpe1.h5ad",
]

for file in data_with_myc:
    adata_file = "data/scPerturbData/" + file
    print(adata_file)
    adata = sc.read_h5ad(adata_file)
    print("MYC" in adata.obs['perturbation'].unique().tolist())

data/scPerturbData/TianKampmann2021_CRISPRa.h5ad
False

In [4]:
kale_scores = pd.read_csv("data/_kale_scores_unweighted_TianKampmann2021_CRISPRa_kt_filtered.tsv",
                          sep="\t", index_col=0)
kale_scores = kale_scores.dropna(axis=1, how='all')
kale_scores.fillna(0)

print(kale_scores.shape)
kale_scores.head()

(19758, 995)

,AATF,ABCA1,ABCA3,ABCB1,ABCG1,ABCG5,ABCG8,ABL1,ACLY,ACTL6A,...,ZNF175,ZNF202,ZNF224,ZNF24,ZNF300,ZNF350,ZNF382,ZNF385A,ZNF76,ZNRD1
AAACCCAAGAATTCAG,-0.672156,-1.089257,0.076914,0.320419,-0.097235,-0.097235,-0.097235,-2.354875,0.982439,-4.598154,...,-0.778585,1.659829,1.714673,0.358083,0.273370,-1.040854,1.199212,1.023715,-0.472132,0.107081
AAACCCAAGAGTCTTC,-0.670368,0.569536,0.017525,0.216864,-0.141956,-0.141956,-0.141956,-0.648395,-1.705262,-5.491951,...,-0.814082,-0.319628,1.718140,0.370450,0.288217,-0.998375,1.363694,0.954141,-0.473222,0.064116
AAACCCAAGATCACCT,-0.561246,-1.301301,-1.516995,-0.710629,-1.228580,-1.228580,-1.228580,0.321294,0.150259,1.328755,...,-1.383721,3.122202,-0.463913,0.526327,3.288698,0.283515,-2.227167,-0.044189,-0.407650,-0.887146
AAACCCAAGCCTCATA,-0.254940,0.259091,-2.351883,-0.592855,-1.757579,-1.757579,-1.757579,-0.626749,-3.275178,1.163825,...,0.049718,-1.733999,1.606819,-0.915663,-0.845777,2.437121,4.383004,-0.364686,1.816369,0.605111
AAACCCAAGGCACTCC,-4.232271,-0.687912,2.122576,3.838660,-1.119598,-1.119598,-1.119598,2.163783,0.014132,2.199487,...,0.226651,-0.092944,1.619790,-0.531643,-4.557719,-1.094919,0.127768,2.172688,-0.199148,-0.798448

In [5]:
viper_scores = pd.read_csv("data/_viper_scores_AdamsonWeissman2016_GSM2406675_10X001_kt_filtered.tsv",
                           sep="\t",
                           index_col=0)
viper_scores = viper_scores.dropna(axis=1, how='all')
print(viper_scores.shape)
viper_scores.head()

(3999, 1070)

,NOC2L,CDK11B,CDK11A,SKI,TP73,RPL22,ENO1,SRM,MTOR,SPEN,...,RUNX1,DYRK1A,ETS2,PSMG1,PKNOX1,SIK1,RRP1B,PFKL,ITGB2,SLC19A1
cell_barcode,,,,,,,,,,,,,,,,,,,,,
AAACATACACCGAT,-0.673482,-2.415930,1.904427,1.504263,0.394428,-2.415930,-1.931245,-2.415930,0.426048,0.816041,...,0.571369,-0.760176,0.305845,-2.415930,0.138211,-0.143810,-0.760176,-0.315262,-0.315262,0.419449
AAACATACAGAGAT,-0.691471,-0.530028,-0.600210,0.179886,-0.230710,-0.530028,-0.587293,-0.530028,-1.968944,-0.999136,...,1.099152,-0.747641,0.336856,-0.530028,0.155711,-0.153349,-0.747641,-0.300530,-0.300530,0.430654
AAACATACGTTGAC,-0.593733,1.047556,-0.700934,-0.999155,-1.191555,1.047556,0.465548,1.047556,0.717049,0.841538,...,0.765262,-0.854737,0.126009,1.047556,0.035497,-0.073933,-0.854737,-0.389172,-0.389172,0.344938
AAACCGTGCAGCTA,-0.639863,1.299460,-0.647766,-1.141930,-1.480517,1.299460,0.677358,1.299460,0.029320,0.826498,...,0.345554,1.763390,0.234451,1.299460,1.881933,-0.114057,1.763390,-0.341532,-0.341532,0.388089
AAACCGTGGAACTC,-0.920516,1.382298,-0.430434,-1.056226,-0.445296,1.382298,0.880903,1.382298,1.351832,0.814522,...,-0.339572,-0.573031,0.778492,1.382298,0.403976,-0.326463,-0.573031,-0.136513,-0.136513,0.622715

In [6]:
perturbed_tfs = adata.obs['perturbation'].unique().tolist()
print(len(perturbed_tfs))
perturbed_tfs

101

['KSR2',
 'CCDC85C',
 'CASP3',
 'TTBK2',
 'PRNP',
 'SEMA3C',
 'NOS1',
 'NTRK1',
 'EFNA5',
 'GSX2',
 'P4HB',
 'FGD4',
 'CH25H',
 'RRAS2',
 'FEZF2',
 'LOXHD1',
 'ARHGAP20',
 'JPH3',
 'SOX5',
 'PRRC2C',
 'GPR156',
 'IGF1R',
 'CCR5',
 'MEF2C',
 'NOS3',
 'CDC5L',
 'HNRNPA2B1',
 'CYCS',
 'TUSC1',
 'control',
 'TMSB4X',
 'EGR2',
 'NQO1',
 'ATM',
 'SLC2A3',
 'CLRN2',
 'TP53',
 'BDNF',
 'DDIT4',
 'FMNL1',
 'ACE',
 'SHC1',
 'GLIS3',
 'DAPL1',
 'HECW1',
 'BCL2',
 'ATXN7',
 'CDC42EP3',
 'PCDHA3',
 'ATP5C1',
 'GSTP1',
 'HDAC9',
 'BMPER',
 'PICALM',
 'TNS3',
 'SETX',
 'MEGF6',
 'TSEN15',
 'INSR',
 'PDGFA',
 'YAP1',
 'C6orf203',
 'LTF',
 'GDI1',
 'NOP56',
 'NR2F2',
 'ADAMTS20',
 'POU4F1',
 'SERAC1',
 'EPC2',
 'NUAK1',
 'CSMD1',
 'PPP2R2B',
 'GABRG3',
 'MAOA',
 'FRMD4A',
 'XIAP',
 'PPARGC1A',
 'ACHE',
 'BDH1',
 'GIGYF2',
 'HMGA2',
 'RUNX1T1',
 'SPAST',
 'SNCB',
 'GBX2',
 'GRID2',
 'ARID1B',
 'TFAM',
 'SMEK1',
 'FAM171A2',
 'CPS1',
 'BCL2L1',
 'WNT3',
 'CIC',
 'PPP1R3B',
 'MEGF10',
 'RBMS1',
 'SPI1',
 'SLC4A1',
 'HRK']

In [7]:
tfs_in_kale = kale_scores.columns.tolist()

for perturbed_tf in perturbed_tfs:
    if perturbed_tf == 'control' or perturbed_tf == 'nan':
        continue

    if perturbed_tf not in tfs_in_kale:
        continue

    tf_score_df = pd.DataFrame(kale_scores[perturbed_tf], index=kale_scores.index)
    tf_score_df = tf_score_df.sort_values(by=perturbed_tf, ascending=True)

    # Get cells perturbed for this TF
    marked_cells = adata.obs[adata.obs['perturbation'] == perturbed_tf].index
    print(f"{perturbed_tf} {"-" * 30}")
    print(f"\tcells perturbed: {len(marked_cells)}")

    tf_score_df["marked"] = False
    tf_score_df.loc[marked_cells, "marked"] = True

    # Rank the scores between 0 and 1
    tf_score_df['rank'] = (rankdata(tf_score_df[perturbed_tf], method='average') - 0.5) / len(tf_score_df)

    # Calculated mean rank of marked cells
    mean_rank_marked = tf_score_df[tf_score_df['marked'] == True]['rank'].mean()
    print(f"\tMean rank: {mean_rank_marked}")
    # Also print how many targets these TF have in the network

    # Sort them ascending
    # Find n=total cells
    # Find k=number of marked cells
    # find sd analytically, and mean = 0.5
    # Calculate cdf which is also the p-value, this is because these are inhibited, otherwise we would do (1-cdf)
    # Confirm this is significant for MYC (Before find dataset where MYC is perturbed)

MEF2C ------------------------------
	cells perturbed: 147
	Mean rank: 0.49288551335100284
EGR2 ------------------------------
	cells perturbed: 188
	Mean rank: 0.45352098153616205
ATM ------------------------------
	cells perturbed: 169
	Mean rank: 0.48203678713618214
TP53 ------------------------------
	cells perturbed: 108
	Mean rank: 0.5129272530957925
BCL2 ------------------------------
	cells perturbed: 193
	Mean rank: 0.535683060367231
HDAC9 ------------------------------
	cells perturbed: 265
	Mean rank: 0.49537173382837996
YAP1 ------------------------------
	cells perturbed: 229
	Mean rank: 0.4813192688296953
NR2F2 ------------------------------
	cells perturbed: 257
	Mean rank: 0.5016757237279251
POU4F1 ------------------------------
	cells perturbed: 131
	Mean rank: 0.4958758612802698
PPARGC1A ------------------------------
	cells perturbed: 149
	Mean rank: 0.5190110742670883
BCL2L1 ------------------------------
	cells perturbed: 277
	Mean rank: 0.5016364070231754
SPI1 ------------------------------
	cells perturbed: 38
	Mean rank: 0.5737136456385421

# VIPER Scores

In [ ]:
tfs_in_viper = viper_scores.columns.tolist()

for perturbed_tf in perturbed_tfs:
    if perturbed_tf == 'control' or perturbed_tf == 'nan':
        continue

    if perturbed_tf not in tfs_in_viper:
        continue

    tf_score_df = pd.DataFrame(viper_scores[perturbed_tf], index=viper_scores.index)
    tf_score_df = tf_score_df.sort_values(by=perturbed_tf, ascending=True)

    # Get cells perturbed for this TF
    marked_cells = adata.obs[adata.obs['perturbation'] == perturbed_tf].index
    print(f"{perturbed_tf} {"-" * 30}")
    print(f"\tcells perturbed: {len(marked_cells)}")

    tf_score_df["marked"] = False
    tf_score_df.loc[marked_cells, "marked"] = True

    # Rank the scores between 0 and 1
    tf_score_df['rank'] = (rankdata(tf_score_df[perturbed_tf], method='average') - 0.5) / len(tf_score_df)

    # Calculated mean rank of marked cells
    mean_rank_marked = tf_score_df[tf_score_df['marked'] == True]['rank'].mean()
    print(f"\tMean rank: {mean_rank_marked}")